/* ==========================================================================
   Base Styles - Typography and Global Styles
   ========================================================================== */

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
    line-height: 1.6;
}

h1,
h2,
h3,
.serif {
    font-family: 'Playfair Display', serif;
}
